.powerful-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.powerful-info{
  margin-top:172px;
  display: flex;
  flex-direction: column;
}

.powerful-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.powerful-title {
  font-weight: 700;
  font-size: 40px;
  color: black;
}


.powerful-subtitle {
  font-weight: 700;
  font-size: 40px;
  background: linear-gradient(#55CBFB,#1D4ED8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.powerful-describe {
  font-size: 20px;
  font-weight: 400;
  color: #191D23;
  margin-top: 16px;
}

.pay-sub{
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  justify-content: center;
}

.variable-sub{
  display: flex;
  flex-direction: row;
  width: 240px;
  justify-content: space-between;
  align-items: center;
}

.pay-text{
  font-weight: 400;
  font-size: 16px;
}

.border-button{
  width: 50px;
    height: 15px;
    background: rgba(4, 9, 33, 0.32);
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.cicle-button{
  width: 20px;
  height: 20px;
  background:#FFFFFF;
  border-radius: 10px;
}

.sell-price{
  font-size: 18px;
  font-weight: 500;
  color: #1D4ED8;
}

.powerful-content-price{
  margin-top: 18px;
  display: flex;
  flex-direction: row;
}

.freebie-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
}

.benefit-price{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 40px;
}

.active-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.block-price{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.price-name {
  font-size: 22px;
  color: #191D23;
  font-weight: 700;
}

.subname-price{
  margin-top: 11px;
  font-weight: 400;
  font-size: 16px;
  color:#64748B ;
  text-align: left;
}

.how-price-subsc {
  margin-top: 20px;
  font-weight: 600;
  font-size: 56px;
  color: #191D23;
}

.how-month-price {
  font-weight: 300;
  font-size: 16px;
  color: #4B5768;
  padding-top: 20px;
}

.price-subsc {
  display: flex;
  align-items: center;
}

.btn-price {
  margin-top: 24px;
  width: 330px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  color: #1D4ED8;
  border: 1.5px solid #1D4ED8;
  background-color: white;
  border-radius: 4px;
}

.desc-text-active{
  font-weight: 500;
  font-size: 16px;
  color: #191D23;
  margin-left: 5px
}

.benifit-desc-active {
  display: flex;
  align-items: center;
  margin-bottom: 5px
}

.desc-text-block{
  font-weight: 500;
  font-size: 16px;
  color:#A0ABBB;
  margin-left: 5px
}

.benifit-desc-block{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.enterprice-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.enterprice-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  padding: 30px;
}

.professional-price {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
  background: #1D4ED8;
  padding: 30px;
  border-radius: 12px;
}

.color-white {
  color: white;
}
