.trusted-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.trusted-info {
  color: #667085;
  font-size: 20px;
  margin-bottom: 40px;
}

.trusted-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}